extends ./layout/index

block slider
    .slider 
        h1 Rio de Janerio
        em aventura


block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis lorem lobortis, rhoncus lacus ac, ultrices risus. Aenean nec volutpat nisi. Proin et nisi odio. Nulla est felis, congue et nunc at, egestas porta dolor. In vel tempus erat, quis pharetra lorem. Phasellus finibus interdum ipsum, in laoreet odio volutpat quis.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in cursus diam. Vestibulum aliquam mollis justo, vitae tristique elit porta vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices rutrum lectus id blandit. Morbi a turpis sed nulla pharetra lobortis. Duis iaculis lectus odio, quis dignissim leo venenatis in. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")

        include ./layout/bloques_viajes

    .descuento 
        .container 
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo del 2021 - 28 de Marzo del 2021
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales