extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra, est quis aliquet luctus, tortor velit maximus ex, eget malesuada diam nisl vel quam.

                p Vestibulum nec dui vitae turpis congue aliquet. Morbi efficitur, lorem non pretium tempor, purus lectus pharetra metus, rutrum fermentum arcu risus sit amet felis. Praesent rutrum purus sed consequat maximus. 

                p Cras auctor odio dui, sed porttitor nunc cursus laoreet. Aliquam facilisis ante eget nibh pellentesque, sed pretium tellus finibus. Quisque ac libero quis nulla mattis porttitor non bibendum diam. Phasellus ac molestie neque, sit amet suscipit tortor. Phasellus enim massa, volutpat ac urna ac, accumsan malesuada dui.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Pellentesque voltoat, turpis at euismod finibus, auge odio ornare risus, sed fermentum neque arcu et justo.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Desstino
                    p Pellentesque voltoat, turpis at euismod finibus, auge odio ornare risus, sed fermentum neque arcu et justo.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Pellentesque voltoat, turpis at euismod finibus, auge odio ornare risus, sed fermentum neque arcu et justo.